@use '../../styles/variables' as *;

.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main {
  flex: 1;
  overflow: auto;
  background: $bg-light;
  
  :global([data-theme="dark"]) & {
    background: #121212;
  }
}
